﻿@using PracticaMVC.Models
@model Asezare

@{
    ViewBag.Title = "Editare";
}

<h2>Editare @*Camin @Model.Camin.Denumire*@</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Camin_ID, htmlAttributes: new { style = "display: none;", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Camin_ID, new { style = "display: none;", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Camere.Numar_camera, htmlAttributes: new { style = "display: none;", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Camera_Id, new { style = "display: none;", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student_ID, htmlAttributes: new { style = "display: none;", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Student_ID, new { style = "display: none;", @class = "form-control" })
            </div>
        </div>

        @*@{Html.RenderPartial("PartialToEdit");}*@

        <div class="form-group">
            <label class="control-label col-md-2">Pentru achitare</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cazare_Debit, new { @readonly = "readonly", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Achitat</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cazare_Credit, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cazare_Credit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Plata Lumina</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Plata_Lumina, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Plata_Lumina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions no-color" style="margin-left:200px;">
            <a href="@Url.Action("TeamDetails", "Camin", new {id = Model.Camin_ID })" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span><strong>Inapoi</strong></span>
            </a>

            <input type="submit" value="Salveaza" class="btn btn-success" style="margin-left:100px;" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

