﻿@model IEnumerable<PracticaMVC.Models.Camin>

@{
    ViewBag.Title = "Lista Caminelor";
}

<h2>Lista Caminelor</h2>

<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>
        <th>
            Nr. Camere Total
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numar_studente)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.Locuri_libere)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("TeamDetails","Camin",new { item.ID })">@Html.DisplayFor(modelItem => item.Denumire)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numar_camere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numar_studente)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Locuri_libere)
        </td>
    </tr>
}

</table>

<div class="form-actions no-color">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span><strong>Inapoi</strong></span>
    </a>
</div>