﻿@model PracticaMVC.Models.Asezare

<div class="form-group">
        <label class="control-label col-md-2">Camin</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Camin.Denumire, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Camera</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Camere.Numar_camera, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Student</label>
        <div class="col-md-2" style="float:left">
            @Html.TextBoxFor(model => model.Studenti.Nume, new { @readonly = "readonly", @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.Studenti.Prenume, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>