﻿@using PracticaMVC.Models
@model Camin

@{
    ViewBag.Title = "Detalii camin";
}
<div>
    <h2>Camin - @Model.Denumire</h2>
    <div>
        <table class="table table-bordered text-center">
            <tr>
                <th>Numarul camerei</th>
                <th>Toate locuri</th>
                <th>Student</th>
                <th>Achitare camera</th>
                <th>Plata Lumina</th>
                @if (User.IsInRole("admin"))
                {
                 <th></th>
                }

            </tr>

            @foreach (Camere cam in Model.Camere)
            {
                <tr>
                    @if (cam.Camin_ID == Model.ID)
                    {
                        if (cam.Numar_student == 0)
                        {
                            <td>@cam.Numar_camera</td>
                            <td>@cam.Numar_student / @cam.Capacitate</td>
                            @:<td>-</td>
                            @:<td>-</td>
                            @:<td>-</td>
                            if (User.IsInRole("admin"))
                            {
                                @:<td></td>
                            }

                        @:</tr><tr>
                        }
                        else
                        {
                            <td rowspan="@cam.Numar_student">@cam.Numar_camera</td>
                            <td rowspan="@cam.Numar_student">@cam.Numar_student / @cam.Capacitate</td>
                        }
                    }
                    @{int i = 0;}
                    @foreach (Studenti student in Model.Studenti)
                    {
                        if (cam.ID == student.Camera)
                        {
                            if (i > 0)
                            {
                            @:</tr><tr>
                            }
                            <td>@student.Nume</td>
                            foreach (Asezare asezare in Model.Asezare)
                            {
                                if (asezare.Student_ID == student.StudentID)
                                {
                                    <td>@asezare.Cazare_Credit / @asezare.Cazare_Debit lei</td>

                                    i++;
                                    <td>@asezare.Plata_Lumina</td>
                                    if (User.IsInRole("admin"))
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", "Camin", new { id = asezare.Id })" class="btn btn-primary a-btn-slide-text">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    }
                                }
                            }
                        }
                    }
                </tr>
            }
        </table>
    </div>

</div>

<div class="form-actions no-color">
    <a href="@Url.Action("Index", "Camin")" class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span><strong>Inapoi</strong></span>
    </a>
</div>