﻿
@{
    ViewBag.Title = "Error";
}

<h2>Nu aveti drepturile sa redactati pagina aceasta</h2>

<div class="form-actions no-color">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span><strong>Inapoi</strong></span>
    </a>
</div>