﻿@model PracticaMVC.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<br />
<br />
@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit" class="btn btn-primary" style="margin-top:20px; margin-bottom:250px;" >Login</button>
    </p>   
  
}