﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CaminMVC</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar navbar-nav navbar-left">
                    @if (@User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Salut " + @User.Identity.Name, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Lista Caminelor", "Index", "Camin", new { area = "" }, new { @class = "navbar-brand" })
                    }

                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (@User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Logout", "Auth")" class="navbar-brand">Iesire</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="nav navbar" style="display:block;">
            <div id="img" style="margin-right:550px;">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo.jpg" style="width:500px; height:100px; margin-top:50px;" />
                </a>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - CaminMvc</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>