﻿@model PracticaMVC.Models.Camere

<option value="">--Selectati Camera--</option>

@if(ViewBag.CameraID != null)
{
    foreach(var item in ViewBag.CameraID)
    {
        <option value="@item.Value">@item.Text</option>
    }
}