﻿@model PracticaMVC.Models.Studenti

@{
    ViewBag.Title = "Crearea";
}

<h2>Creare</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nume, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nume, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prenume, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prenume, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Prenume, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDNP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IDNP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IDNP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Domiciliu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Domiciliu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Domiciliu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataNasterii, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataNasterii, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DataNasterii, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Facultatea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Facultatea, (IEnumerable<SelectListItem>)ViewData["facultateaToList"], "--Selectati Facultatea--", new { @class = "form-control" }
            @*(SelectList)ViewBag.Camin, new Dictionary<string, object> { { "class", "control-label col-md-2" } }*@)
            @*@Html.ValidationMessageFor(model => model.Camin, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Grupa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Grupa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Grupa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Camin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Camin, (IEnumerable<SelectListItem>)ViewData["caminToList"], "--Selectati Camin--", new { @class="form-control"}
            @*(SelectList)ViewBag.Camin, new Dictionary<string, object> { { "class", "control-label col-md-2" } }*@)
            @*@Html.ValidationMessageFor(model => model.Camin, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Camera, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Camera, new SelectList("") @*(IEnumerable<SelectListItem>)ViewData["cameraToList"]*@
           , "--Selectati Camera--", new { @class = "form-control" }@*ViewBag.Camera as SelectList*@)
            @*@Html.ValidationMessageFor(model => model.Camera, "", new { @class = "text-danger" })*@
        </div>
    </div>

</div>
    <div class="form-actions no-color" style="margin-left:200px;">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span><strong>Inapoi</strong></span>
        </a>

        <input type="submit" value="Creati" class="btn btn-success" style="margin-left:120px;" />
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Camin").change(function () {
            var id = $(this).val();
            debugger
            $.ajax({
                type: "post",
                url: "/Home/GetCameraList?Camin=" + id,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#Camera").empty();
                    $("#Camera").append(response);
                }
            })
        });
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
