﻿@model PracticaMVC.Models.Studenti

@{
    ViewBag.Title = "Stergere";
}

<h2>Stergere</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenume):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNP):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domiciliu):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domiciliu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNasterii):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNasterii)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facultatea):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facultatea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupa):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camin):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camera):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camera)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span><strong>Inapoi</strong></span>
            </a>

            <input type="submit" value="Sterge" class="btn btn-danger" style="margin-left:100px;" /> 
        </div>
    }
</div>
