﻿@using PracticaMVC.Models
@model Studenti

@{
    ViewBag.Title = "Detalii Student";
}

<h2>Details</h2>

<div>
    <h4>Studenti</h4>
    <hr />
</div>
<div class="form-horizontal col-md-6">
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Nume, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IDNP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.IDNP, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataNasterii, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DataNasterii, "{0:d}",  new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Facultatea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Facultatea, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Camin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Camin1.Denumire, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

</div>
<div class="form-horizontal col-md-6">
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Prenume, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Prenume, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Domiciliu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Domiciliu, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Telefon, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Grupa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Grupa, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Camera, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Camere.Numar_camera, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

</div>
<div class="form-actions no-color">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span><strong>Inapoi</strong></span>
    </a>
</div>
