﻿@*@model IEnumerable<PracticaMVC.Models.Studenti>*@
@model PagedList.IPagedList<PracticaMVC.Models.Studenti>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Lista Studentelor";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Lista Studentelor</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
<div class="form-group">
    @Html.TextBox("search", null, new { @class = "search" })
        <input type="submit" style=" margin-left:5px;" value="Cautare" class="btn btn-secondary">

    @if (User.IsInRole("admin"))
    {
        <div style="float:right">
            <a href=" @Url.Action("Create", "Home")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <span><strong>Adaugare</strong></span>
            </a>
        </div>
    }
</div>
}

    <div id="container">
        <div id="displayData">
            <table class="table text-center">
                <tr>
                    <th>
                        @{var nume_icon = " ";
                            if (ViewBag.NumeSort == "nume")
                            {
                                nume_icon = "glyphicon glyphicon-arrow-down";
                            }
                            else
                            {
                                nume_icon = "glyphicon glyphicon-arrow-up";
                            }
                        }
                        Nume
                        <a href="@Url.Action("Index", "Home",
                            new { order = ViewBag.NumeSort, currentFilter = ViewBag.CurrentSort } )
                       " title="Nume" class="@nume_icon">
                        </a>
                    </th>
                    @*Prenume Sort//////////////////////////////////////////////////////////////////*@
                    <th>
                        @{var prenume_icon = " ";
                            if (ViewBag.PrenumeSort == "prenume")
                            {
                                prenume_icon = "glyphicon glyphicon-arrow-down";
                            }
                            else
                            {
                                prenume_icon = "glyphicon glyphicon-arrow-up";
                            }
                        }
                        Prenume
                        <a href="@Url.Action("Index", "Home",
                            new { order = ViewBag.PrenumeSort, currentFilter = ViewBag.CurrentSort } )
                       " title="Prenume" class="@prenume_icon">
                        </a>
                    </th>
                    @*////////////////////////////////////////////////////////////////////////////////////*@
                    @*<th>
                        IDNP
                    </th>*@
                    <th>
                        Domiciliu
                    </th>
                    @*<th>
                        @{var data_icon = " ";
                            if (ViewBag.dateSort == "data")
                            {
                                data_icon = "glyphicon glyphicon-arrow-down";
                            }
                            else
                            {
                                data_icon = "glyphicon glyphicon-arrow-up";
                            }
                        }
                        Data Nasterii
                        <a href="@Url.Action("Index", "Home",
                            new { order = ViewBag.DateSort, currentFilter = ViewBag.CurrentSort } )
                       " title="Data Nasterii" class="@data_icon">
                        </a>
                    </th>
                    <th>
                        Telefon
                    </th>*@
                    <th>
                        Facultatea
                    </th>
                    <th>
                        Grupa
                    </th>
                    <th>
                        Camin
                    </th>
                    <th>
                        Camera
                    </th>
                    <th></th>
                </tr>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="3" style="color:red">
                            Nici o potrivire
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr class="Search">
                            <td>
                                @Html.DisplayFor(modelItem => item.Nume)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prenume)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.IDNP)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Domiciliu)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.DataNasterii)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefon)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Facultatea1.Denumire)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Grupa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Camin1.Denumire)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Camere.Numar_camera)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Home", new { id = item.StudentID })" class="btn btn-primary a-btn-slide-text">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    @*<span><strong>Editare</strong></span>*@
                                </a>
                                <a href="@Url.Action("Details", "Home", new { id = item.StudentID })" class="btn btn-info a-btn-slide-text">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </a>
                                @if (User.IsInRole("admin"))
                                {
                                    <a href="@Url.Action("Delete", "Home", new { id = item.StudentID })" class="btn btn-danger a-btn-slide-text">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        @*<span><strong>Sterge</strong></span>*@
                                    </a>
                                }
                                @*@Html.ActionLink("Editare", "Edit", new { id = item.StudentID }) |*@
                                @*@Html.ActionLink("Stergere", "Delete", new { id = item.StudentID })*@
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

    <div id="Paging" style="text-align:center">
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        din @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, order = ViewBag.PrenumeSort, currentFilter = ViewBag.CurrentSort }))
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>